<ul class="nav mt-2">
  <li class="nav-item">
    <a class="nav-link" (click)="CURRENTPAGE = 1" aria-current="page" href="#">Nominas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="CURRENTPAGE = 2" href="#">Empleados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="CURRENTPAGE = 3" href="#">Incapacidades medicas</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" (click)="CURRENTPAGE = 4" href="#">Negocio</a>
  </li>

</ul>

<!-- Nominas -->
<section *ngIf="CURRENTPAGE == 1" class="container mt-5">

  <h1 class="primary">Catálogo de nominas</h1>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">RFC</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Periodo</th>
        <th scope="col">Puesto</th>
        <th scope="col">Dias pagados</th>
        <th scope="col">Total neto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>

  </table>

  <div class="d-flex gap-1">
    <input class="mt-5 btn btn-primary" type="button" value="Añadir nomina" (click)="openNominaDialog()">
  </div>


  <div class="row mt-5">
    <div class="col-5">
      <h3>Selecciona tu archivo</h3>
      <input class="mt-1" type="file" accept="text/csv" (change)="onFileSelected($event)">
      <input class="d-block mt-5 btn btn-primary w-100" type="button" value="Convierte a pdf" (click)="makePdf()">
    </div>
  </div>

</section>

<!-- Empleados -->
<section *ngIf="CURRENTPAGE == 2" class="container mt-5">

  <h1 class="primary">Catálogo de empleados</h1>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">RFC</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
        <th scope="col">Periodo</th>
        <th scope="col">Puesto</th>
        <th scope="col">Dias pagados</th>
        <th scope="col">Total neto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>

  </table>

  <div class="d-flex gap-1">
    <input class="mt-5 btn btn-primary" type="button" value="Añadir empleado" (click)="openEmpleadoDialog()">
  </div>

</section>

<!-- Incapacidades medicas -->
<section *ngIf="CURRENTPAGE == 3" class="container mt-5">

  <h1 class="primary">Catálogo de Incapacidades médicas</h1>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Folio</th>
        <th scope="col">RFC</th>
        <th scope="col">Periodo</th>
        <th scope="col">Dias</th>
        <th scope="col">Motivo</th>
        <th scope="col">Estatus</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>DEV0505</td>
        <td>SSASDSADDS</td>
        <td>25-02-2023 - 27-02-2023</td>
        <td>2</td>
        <td>Accidente leve</td>
        <td>Vigente</td>
      </tr>
    </tbody>

  </table>

  <div class="d-flex gap-1">
    <input class="mt-5 btn btn-primary" type="button" value="Añadir incapacidad médica"
      (click)="openIncapacidadesDialog()">
  </div>


</section>


<!-- Negocio -->
<section *ngIf="CURRENTPAGE == 4" class="container mt-5 pb-5">

  <h1 class="primary">Negocio</h1>


  <h3 class="mt-5">Puestos</h3>

  <table class="overflow-scroll table mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Salario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of puestos; let index = index">
        <th>{{index+1}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.descripcion}}</td>
        <td>{{item.salario}}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="puestos.length == 0" class="alert alert-secondary">Aún no hay elementos</p>

  <div class="d-flex gap-1">
    <input class="mt-5 btn btn-primary" type="button" value="Añadir puesto" (click)="openPuestoDialog()">
  </div>

  <h3 class="mt-5">Percepciones</h3>

  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Factor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
    </tbody>

  </table>

  <div class="d-flex gap-1">
    <input class="mt-5 btn btn-primary" type="button" value="Añadir percepcion" (click)="openEmpleadoDialog()">
  </div>

  <h3 class="mt-5">Deducciones</h3>

  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Factor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
    </tbody>

  </table>

  <div class="d-flex gap-1">
    <input class="mt-5 btn btn-primary" type="button" value="Añadir deduccion" (click)="openEmpleadoDialog()">
  </div>

</section>